<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('partials/_header.ejs') -%>

  <body>
    <script>
      var formatForDate = function (element) {
        var originalText = element.innerText;

        var dayName = originalText.substring(0, 3);
        var month = originalText.substring(4, 7);
        var day = originalText.substring(8, 10);
        var year = originalText.substring(11, 16);

        el = [dayName, month, day].join(' ');
        element.innerText = [el, year].join(', ');
      }
    </script>

    <!-- Navigation -->
    <%- include('partials/_navigation.ejs') -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('<%= blog.backroundImage %>')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="post-heading">
                <h1>
                  <%= blog.title %>
                </h1>
                <h2 class="subheading">
                  <%= blog.subtitle %>
                </h2>
                <span class="meta">Posted by
                  <a href="#">
                    <%= blog.author %>
                  </a>
                  <span id="newDate">
                    <%= blog.dateCreated %>
                  </span>
                  <script>formatForDate(document.querySelector('#newDate'));</script>
                </span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Post Content -->
      <article>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <p>
                <%= blog.detail %>
              </p>

              <h2 class="section-heading"></h2>
              <p></p>
              <blockquote class="blockquote"></blockquote>
              <p></p>
              <h2 class="section-heading"></h2>
              <p></p>
              <a href="#">
                <img class="img-fluid" src="../public/img/home-bg.jpg" alt="">
              </a>
              <span class="caption text-muted"></span>
              <p></p>
              <p></p>

              <p>Placeholder text by
                <a href="/blog/edit/<%= blog._id %>">Click</a> to update the blog
                <a href="#">Click</a> to delete the blog
              </p>
            </div>
          </div>
        </div>
      </article>

      <hr>

      <!-- Footer -->
      <%- include('partials/_footer.ejs') -%>

        <!-- Custom scripts for this template -->
        <script src="js/clean-blog.min.js"></script>

  </body>

</html>