<!DOCTYPE html>
<html lang="en">

<!-- Header -->
<%- include('partials/_header.ejs') -%>

  <body>
    <script>
      var formatForDate = function (element) {
        for (let i = 0; i < element.length; i++) {
          var originalText = element[i].innerText;

          var dayName = originalText.substring(0, 3);
          var month = originalText.substring(4, 7);
          var day = originalText.substring(8, 10);
          var year = originalText.substring(11, 16);

          el = [dayName, month, day].join(' ');
          element[i].innerText = [el, year].join(', ');
        }
      }
    </script>

    <!-- Navigation -->
    <%- include('partials/_navigation.ejs') -%>

      <!-- Page Header -->
      <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <div class="site-heading">
                <h1>Clean Blog</h1>
                <span class="subheading">A Blog Theme by Start Bootstrap</span>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- Main Content -->
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <% for(let i=0; i < blogs.length; i++) { %>

              <div class="post-preview">
                <a href="/blog/<%= blogs[i]._id %>">
                  <h2 class="post-title">
                    <%= blogs[i].title %>
                      <!-- Man must explore, and this is exploration at its greatest -->
                  </h2>
                  <h3 class="post-subtitle">
                    <%= blogs[i].subtitle %>
                      <!-- Problems look mighty small from 150 miles up -->
                  </h3>
                </a>
                <p class="post-meta">Posted by
                  <a href="#">
                    <%= blogs[i].author %>
                  </a>
                  <span class="newDate">
                    <%= blogs[i].dateCreated %>
                  </span>
                  <script>formatForDate(document.querySelectorAll('.newDate'));</script>
                </p>
              </div>
              <hr>
              <% } %>

                <!-- Pager -->
                <div class="clearfix">
                  <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
                </div>
          </div>
        </div>
      </div>

      <hr>

      <!-- Footer -->
      <%- include('partials/_footer.ejs') -%>

        <!-- Custom scripts for this template -->
        <script src="js/clean-blog.min.js"></script>

  </body>

</html>